.Navbar {
	background: #152028;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.navbar-logo {
    color: white;
    justify-self: start;
    cursor: pointer;
    width: 25%;
    font-size: 1.5em;
    font-family: "Fira Sans";
    font-weight: bold;
}

.fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.navMenu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 25%;
    justify-content: center;
    padding-top: 12px;
}

.navItem {
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    font-weight: 600;
    color: white;
}

.navButton {
    display: flex;
    align-items: center;
    background-color: #08ADA2;
    color: white;
    border-radius: 20px;
    width: max-content;
    height: max-content;
    font-weight: 600;
    text-align: center;
}

.navButtonLinks {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-link {
	color: #ffffff;
	background-color: #08ADA2;
	height: 2em;
    margin-top: 1.5vh;
    padding: 0em 0.8em;
}

.nav-link:hover {
    border-radius: 2em;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: white;
}

.nav-links-mobile {
    display: none;
}

.menuIcon {
    display: none;
}

.Navbar #background {
    display: block;
    width: 50%;
    height: 100%;
    background-position-y: center;
    background-repeat: repeat-x;
	background-image: url("../../TitleBackground.png");	
	background-size: 50% 70%;
}
