/*-----------------General----------------- */
html {
	background: #152028;
}

*::-webkit-scrollbar {
	display: none;
  }

.App {	
	width: 100%;
	background: #152028 no-repeat center center fixed;
}

/*-----------------buttons----------------- */

.App button {	
	font-weight: 500;
	border-radius: 0.7em;
}

.App .btn-primary {
	color: #ffffff;
	background-color: #08ADA2;
}

/*-----------------switch----------------- */

.App .form-check {
	margin-left: 2vw;
	width: 80%;
}

.App .form-check-input {
	align-items: center;
	height: 3vh;
}

.App .form-check-input:checked {
    background-color: #08ADA2;
}

/*-----------------accordions----------------- */

.App .accordion-item {
	background-color: inherit;
}

.App .accordion-header {
	background-color: inherit;
	border-color: #08ADA2;
}

.App .accordion-button {
	background-color: #424242;
	color: #fff;
	border-color: #08ADA2;
	font-size: 1.5vw;
}

.App .accordion-button:not(.collapsed) {
	background-color: #08ADA2;
	color: #fff;
	text-decoration: underline;
}

.App .list-group-item {
	background-color: #424242;
	color: #fff;
	font-family: Arial;
	font-size: 1.3vw;
	text-align: left;
}

.App .list-group-item:hover {
	background-color: #08ADA2;
	color: #fff;
}

.App .list-group-item.disabled {
	background-color: #424242;
	color: gray;
}

/*-----------------General items----------------- */

#title {
	position: relative;
	height: 7vh;

	font-family: sans-serif;
    font-style: normal;
	font-weight: 500;
	font-size: 130%;
	
	line-height: 4vh;
	text-align: center;

	color: white;
}

#container {
    top: 0;
    position: absolute;
    margin-top: 1%;
    padding-bottom: 3%;
	width: 100%;
	font-size: 2vw;
	max-width: 1400px;
	background-color: #152028;
}

/*-----------------Windows with form box----------------- */

#form-view {
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#form-view label {
	color: white;
	font-weight: 500;
	font-size: 50%;
}

#form-view .input-group {
	width: 85%;
	margin: 0 7.5% 0 7.5%;
}

#form-view .input-group-text {
	height: 100%;
}

#form-view #box {
    box-shadow: 0 0 1vh #000000;
    border-radius: 0.2em;
    overflow: hidden !important;
    position: relative;
	width: 40%;
	margin: 0% 30% 0% 30%;
	background: rgb(90, 101, 111);
}

#form-view #box #boxform {
    z-index: 200;
	width: 100%;
	margin-top: 0.5%;
}

/*-----------------Swals with labels and options----------------- */

#swal2-html-container > label {
	margin: 1rem 3rem 0 1rem;
}

#swal-select > option {
	background-color: #000000;
}