/*-----------------General----------------- */

.App {	
	width: 100%; /* 100vw */
	height: 130vh;
	background: #152028 no-repeat center center fixed;
}

.App button {	
	font-weight: 500;
	border-radius: 0.7em;
}

.App .btn-primary {
	color: #ffffff;
	background-color: #08ADA2;
}

.App .form-check {
	margin-left: 2vw;
	width: 80%;
}

.App .form-check-input {
	align-items: center;
	height: 3vh;
}

.App .form-check-input:checked {
    background-color: #08ADA2;
}

#title {
	position: relative;
	height: 7vh;

	font-family: sans-serif;
    font-style: normal;
	font-weight: 500;
	font-size: 130%;
	
	line-height: 4vh;
	text-align: center;

	color: white;
}

#container {
    top: 0;
    position: absolute;
    margin-top: 1%;
	width: 100%;
	font-size: 2vw;
}

/*-----------------Windows with form box----------------- */

#form-view {
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#form-view label {
	color: white;
	font-weight: 500;
	font-size: 50%;
}

#form-view button {
	width: 85%;
	margin: 2% 7.5% 5% 7.5%;
	font-size: 50%;
}

#form-view .input-group {
    /* padding: 0 20vw 5vh 0; */
	width: 85%;
	margin: 0 7.5% 0 7.5%;
}

#form-view .input-group-text {
	height: 100%;
}

#form-view #box {
    background: rgb(90, 101, 111);
    box-shadow: 0 0 1vh #000000;
    border-radius: 0.2em;
    overflow: hidden !important;
    position: relative;
	width: 40%;
	margin: 0% 30% 0% 30%;
}

#form-view #box #boxform {
    z-index: 200;
	width: 100%;
	margin-top: 0.5%;
}