/*-----------------Home----------------- */

.Home {
    margin: auto;	
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.Home button {
	width: 75%;
	position: relative;
	flex-direction: row;
	margin: 6vh;
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
}

.Home .title {
	position: relative;
	margin-top: 20vh;

	font-family: "Lucida Handwriting"; /*Papyrus, Lucida Handwriting, Courier New */
	font-style: normal;
	font-weight: 600;
	font-size: 4em;

	color: white;
}

.Home #options {
	display: flex;
}

.Home #options form {
	width: 50%;
}

/*-----------------Register----------------- */

.Register {
	background: linear-gradient(to top, #09203f 0%, #537895 100%);
	opacity: 0.9;
	background-size: 400% 400%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.Register #title {
	position: relative;
	width: 471wh;
	height: 7vh;

	font-family: "Times New Roman";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: #000000;
}

.Register input {
	width: 350px;
}

.Register label {
  color: white;
}

/*-----------------Login----------------- */

.Login {
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.Login label {
	color: white;
	font-weight: 500;
}

.Login input {
	width: 100%;
}

.Login button {
	width: 85%;
	margin: 20px;
}

.Login .input-group {
    padding: 0 20px 5px;
}

.Login .input-group-text {
	height: 100%;
}

.Login .form-check {
	margin-left: 20px;
	margin-top: 5px;
	width: 80%;
}

.Login .form-check-input {
	margin-left: -2.25em;
	align-items: center;
}

.Login .form-check-input:checked {
    background-color: #08ADA2;
}

.Login #teacher-label {
	font-weight: 400;
	float: left;
	padding-left: 6.5%;
}

.Login #container {
	margin-top: 20vh;
}

.Login #title {
	position: relative;
	height: 7vh;

	font-family: "Times New Roman";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: white;
}

.Login #loginbox {
    background: rgb(90, 101, 111);
    box-shadow: 0 0 4px #000000;
    border-radius: 4px;
    overflow: hidden !important;
    position: relative;
}

.Login #loginbox #loginform {
    z-index: 200;
	width: 100%;
	margin-top: 5px;
}

/*-----------------MainView----------------- */

.MainView {
	margin: auto;
	text-align: center;
}

.MainView p {
	position: relative;
	margin-top: 10vh;
	height: 7vh;

	font-family: "Lucida Handwriting"; /*Papyrus, Lucida Handwriting, Courier New */
	font-style: normal;
	font-weight: 500;
	font-size: 2em;

	color: white;
}

.MainView button {
	width: 50%;
	position: relative;
	flex-direction: row;
	margin: 3vh;
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
}

.MainView #newmachine {
	position: relative;
	top: 250px;
	width: 400px;
}

.MainView #mymachines {
	position: relative;
	top: 300px;
	width: 400px;
}

.MainView #edit {
	position: relative;
	top: 350px;
	width: 400px;
}

.MachinesList {
	width: 100wh;
	height: 100vh;
	background: linear-gradient(135.9deg, rgb(138, 73, 250) 16.4%, rgb(125, 31, 165) 56.1%) no-repeat center center fixed;
	background-size: 400% 400% cover;
	margin: auto;
	text-align: center;
}

.MachinesList h4 {
	position: relative;
	width: 471wh;
	height: 7vh;
	top: 20px;

	font-family: "Lucida Handwriting"; /*Papyrus, Lucida Handwriting, Courier New */
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: #000000;
}

.EditProfile {
	width: 100wh;
	height: 100vh;
	background: linear-gradient(to top, #09203f 0%, #537895 100%);
	opacity: 0.9;
	background-size: 400% 400%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.EditProfile #title {
	position: relative;
	width: 471wh;
	height: 7vh;

	font-family: "Times New Roman";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: #000000;
}

.EditProfile #checkF {
	width: 15px;
	height: 15px;
}

.EditProfile #check2 {
	width: 15px;
	height: 15px;
}

.EditProfile #check3 {
	width: 15px;
	height: 15px;
}

.EditProfile #check4 {
	width: 15px;
	height: 15px;
}

.EditProfile #edit {
	width: 33px;
	height: 30px;
	text-align: left;
}

.EditProfile input {
	width: 350px;
}

.EditProfile label {
	text-align: left;
  	color: white;
  	width: 110px;
  	height: 30px;
}

.TuringIO {
	width: 100wh;
	height: 100vh;
	background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	opacity: 0.9;
	background-size: 400% 400%;
}

#header {
  font-size: 80px;
  font-family: 'Georgia', cursive;
}

#topWrapper {
  display: flex;
}

#statelabel {
  background: rgb(219, 209, 209);
  height: 20px;
  width: 104px;
  text-align: center;
  font-weight: bold;
  color: #007aaa;
  font-family: 'Georgia', cursive;
}

#state {
  height: 50px;
  width: 100px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid darkred;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight: bold;
  font-size: 25px;
font-family: 'Roboto Mono', monospace;
}

#machine {
  height: 50px;
  background: ebedee;
  display: flex;
}

#startString {
  width: 500px;
  height: 20px;
}

#speedBox {
  margin-top: 15px;
}