.Home {
    background: linear-gradient(
        69.9deg,
        rgb(76, 79, 106) 3.2%,
        rgb(118, 124, 163) 97.6%
    ) no-repeat center center fixed;
    background-size: 400% 400% cover;
    margin: auto;
    text-align: center;
	background-attachment: fixed;
}

.Home button {
	width: 25%;
	background-color: #87b1b7;
	position: relative;
}

.Home p {
	position: relative;
	width: 471wh;
	height: 7vh;
	top: 200px;

	font-family: "Lucida Handwriting"; /*Papyrus, Lucida Handwriting, Courier New */
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: #000000;
}

.Home button {
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	text-align: center;

	color: #ffffff;
}

.Home #login {
	top: 250px;
}

.Home #register {
	top: 300px;
}

.Home #TMachine {
	margin-top: 350px; 
}

.Register {
	background: linear-gradient(to top, #09203f 0%, #537895 100%);
	opacity: 0.9;
	background-size: 400% 400%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.Register #title {
	position: relative;
	width: 471wh;
	height: 7vh;

	font-family: "Times New Roman";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: #000000;
}

.Register input {
	width: 350px;
}

.Register label {
  color: white;
}

.Login {
	width: 100%;
	height: 100vh;
	background: linear-gradient(
		89.5deg,
		rgb(4, 29, 55) -0.1%,
		rgb(2, 67, 135) 25.1%,
		rgb(28, 133, 243) 49.6%,
		rgb(115, 181, 250) 74.5%,
		rgb(214, 239, 253) 99.3%
	);
	opacity: 0.9;
	background-size: 400% 400%;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.Login label {
	color: black;
	font-weight: 500;
}

.Login input {
	width: 100%;
}

.Login button {
	width: 85%;
	margin: 20px;
}

.Login .input-group {
    padding: 0 20px 5px;
}

.Login .input-group-text {
	height: 100%;
}

.Login .form-check {
	margin-left: 20px;
	margin-top: 5px;
	width: 80%;
}

.Login .form-check-input {
	margin-left: -2.25em;
	align-items: center;
}

.Login #teacher-label {
	font-weight: 100;
	float: left;
	padding-left: 6.5%;
}

.Login #container {
    top: 0;
    position: absolute;
    margin-top: 20px;
}

.Login #title {
	position: relative;
	width: 471wh;
	height: 7vh;

	font-family: "Times New Roman";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: white;
}

.Login #loginbox {
    background: #cde;
    box-shadow: 0 0 4px #000000;
    border-radius: 4px;
    overflow: hidden !important;
    position: relative;
}

.Login #loginbox #loginform {
    z-index: 200;
	width: 100%;
	margin-top: 5px;
}

.MainView {
	width: 100%;
	height: 100vh;
	background: linear-gradient(179.2deg, rgb(21, 21, 212) 0.9%, rgb(53, 220, 243) 95.5%) no-repeat center center fixed;
	background-size: 400% 400% cover;
	margin: auto;
	text-align: center;
}

.MainView p {
	position: relative;
	width: 471wh;
	height: 7vh;
	top: 200px;

	font-family: "Lucida Handwriting"; /*Papyrus, Lucida Handwriting, Courier New */
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: #000000;
}

.MainView button {
	font-family: "Arial";
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	text-align: center;
	background-color: #6c16bd;

	color: #ffffff;
}

.MainView #newmachine {
	position: relative;
	top: 250px;
	width: 400px;
}

.MainView #mymachines {
	position: relative;
	top: 300px;
	width: 400px;
}

.MainView #edit {
	position: relative;
	top: 350px;
	width: 400px;
}

.MachinesList {
	width: 100wh;
	height: 100vh;
	background: linear-gradient(135.9deg, rgb(138, 73, 250) 16.4%, rgb(125, 31, 165) 56.1%) no-repeat center center fixed;
	background-size: 400% 400% cover;
	margin: auto;
	text-align: center;
}

.MachinesList h4 {
	position: relative;
	width: 471wh;
	height: 7vh;
	top: 20px;

	font-family: "Lucida Handwriting"; /*Papyrus, Lucida Handwriting, Courier New */
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: #000000;
}

.EditProfile {
	width: 100wh;
	height: 100vh;
	background: linear-gradient(to top, #09203f 0%, #537895 100%);
	opacity: 0.9;
	background-size: 400% 400%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
}

.EditProfile #title {
	position: relative;
	width: 471wh;
	height: 7vh;

	font-family: "Times New Roman";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 41px;
	text-align: center;

	color: #000000;
}

.EditProfile #checkF {
	width: 15px;
	height: 15px;
}

.EditProfile #check2 {
	width: 15px;
	height: 15px;
}

.EditProfile #check3 {
	width: 15px;
	height: 15px;
}

.EditProfile #check4 {
	width: 15px;
	height: 15px;
}

.EditProfile #edit {
	width: 33px;
	height: 30px;
	text-align: left;
}

.EditProfile input {
	width: 350px;
}

.EditProfile label {
	text-align: left;
  	color: white;
  	width: 110px;
  	height: 30px;
}

.TuringIO {
	width: 100wh;
	height: 100vh;
	background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	opacity: 0.9;
	background-size: 400% 400%;
}

#header {
  font-size: 80px;
  font-family: 'Georgia', cursive;
}

#topWrapper {
  display: flex;
}

#statelabel {
  background: rgb(219, 209, 209);
  height: 20px;
  width: 104px;
  text-align: center;
  font-weight: bold;
  color: #007aaa;
  font-family: 'Georgia', cursive;
}

#state {
  height: 50px;
  width: 100px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid darkred;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight: bold;
  font-size: 25px;
font-family: 'Roboto Mono', monospace;
}

#machine {
  height: 50px;
  background: ebedee;
  display: flex;
}

#startString {
  width: 500px;
  height: 20px;
}

#speedBox {
  margin-top: 15px;
}