.Home {
  width: 100wh;
  height: 100vh;
  background-color: #CDCDCD;
  background-size: 400% 400%;
  margin: auto;
  text-align: center;
}

.Home button {
  width: 10wh;
  background-color: #87B1B7;
}

.Home p {
  position: relative;
  width: 471wh;
  height: 7vh;
  top: 200px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 41px;
  text-align: center;

  color: #000000;
}

.Home button {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;

  color: #FFFFFF;
}

.Home #teacher {
  position: relative;
  top: 250px;
  width: 400px;
}

.Home #student {
  position: relative;
  top: 300px;
  width: 400px;
}

.Home #signup {
  position: relative;
  top: 350px;
  width: 400px;
}

.SignUp {
  width: 100wh;
  height: 100vh;
  background: #47858E;
  opacity: 0.9;
  background-size: 400% 400%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SignUp #title{
  position: relative;
  width: 471wh;
  height: 7vh;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 41px;
  text-align: center;

  color: #000000;
}

.SignUp input {
  width: 350px;
}

.Login {
  width: 100wh;
  height: 100vh;
  background: #47858E;
  opacity: 0.9;
  background-size: 400% 400%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Login #title {
  position: relative;
  width: 471wh;
  height: 7vh;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 41px;
  text-align: center;

  color: #000000;
}

.Login input {
  width: 350px;
}